<p id="notice"><%= notice %></p>

<p>
  <strong>Wish date:</strong>
  <%= @wishlist.wish_date %>
</p>

<p>
  <strong>Wishstatus:</strong>
  <%= @wishlist.wishstatus %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
